body{
  display: flex;
  flex-direction: row;
  justify-content: center;
}
h2{
  font-size: 40px;
  margin: 5px;
}
h3{
  font-size: 25px;
  margin: 0px;
}
#background-image-holder
{
  width: 100%;
  height: 4400px;
  background-color: #540404;
  position: relative;
  border-bottom: 10px solid black;
}
.text-box{
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  position: absolute;
  text-align: center;
}
#front-image
{
  position: absolute;
  left: 54%;
  top: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  width: 1000px;
  height: 100%;
  margin: 0 auto;
  background-image: url('../assets/images/website_background.png');
  background-repeat: no-repeat;
  background-size: 90%;
}
#film-by
{
  width: 400px;
  height: 200px;
  left: 25%;
  top: 500px;
}
#nate-desc{
  width: 200px;
  height: 300px;
  left: 70%;
  top: 800px;
}
#bill-desc
{
  width: 400px;
  height: 200px;
  left: 40%;
  top: 1170px;
}
#angelreana-desc
{
  width: 400px;
  height: 200px;
  left: 55%;
  top: 1450px;
}
#nalu-desc
{
  width: 400px;
  height: 200px;
  left: 77%;
  top: 2015px;
}
